.divMensagens {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;

    .divTools {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 20px;
        gap: 100px;

        @media (max-width: 650px) {
            gap: 10px;
        }

        @media (max-width: 450px) {
            gap: 0;
        }

        .seeVisuDiv {
            display: flex;
            justify-content: center;

            .seeVisuText {
                color: #fff;
                font-size: 15px;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
            }
        }

        .filterDiv {
            display: flex;
            justify-content: center;
            gap: 10px;

            .inputFilter {
                border: 0;
                outline: none;
                font-size: 13px;

            }

            .filterBtt {
                background-color: #C39152;
                border: 0;
                border-radius: 10px;
                height: 30px;
                padding: 0px 15px 0px 15px;
                color: #131312;
                font-size: 12px;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 900;
                font-style: normal;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                box-shadow: rgba(105, 105, 105, 0.2) 0px 8px 24px;

            }
        }
    }

    .mensagensBox {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
}

.divCriarUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .criarUsuarioBox {
        height: 500px;
        width: 400px;
        border: #C39152 2px solid;
        border-radius: 10px;

        @media (max-width: 768px) {
            width: 80%;
        }

        .divButton {
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }

        .inputDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 90%;

            .subInputDiv {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                .caption {
                    color: #fff;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                }

                .textarea {
                    height: 100px;
                    width: 97%;
                    outline: none;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                    resize: 'none'
                }

                .input {
                    width: 97%;
                    outline: none;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;

                }
            }
        }


    }
}

.listAmistososDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    .checkBoxDiv {
        display: flex;
        justify-content: center;

        .checkBoxSubdiv {
            display: flex;
            justify-content: center;

            .aprovadosText {
                color: #fff;
                font-size: 15px;
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
            }
        }
    }

    .listAmistosoBoxDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
}

.divCriarAviso {
    width: 100%;
    display: flex;
    justify-content: cente;
    align-content: center;


    .divInput {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;



        .inputCriarAvisoTituloDiv {
            width: 100%;


            .inputCriarAvisoTitulo {
                width: 90%;
            }
        }
    }
}

.divCriarAviso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .criarAvisoBox {
        height: 500px;
        width: 400px;
        border: #C39152 2px solid;
        border-radius: 10px;

        @media (max-width: 768px) {
            width: 80%;
        }

        .divButtonAviso {
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }

        .inputDivAviso {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 90%;

            .subInputDivAviso {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                .captionAviso {
                    color: #fff;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                }

                .textarea {
                    height: 150px;
                    width: 97%;
                    outline: none;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                    resize: 'none';
                    background-color: transparent;
                    border: 2px solid #C39152;
                    border-radius: 3px;
                    color: white;
                }

                .inputAviso {
                    width: 97%;
                    outline: none;
                    font-size: 15px;
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                    background-color: transparent;
                    border: 2px solid #C39152;
                    border-radius: 3px;
                    color: white;

                }
            }
        }


    }
}